/*
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
*/

body {

    background-color: #FDF4E0;
    z-index: -1;
    box-sizing: border-box;
    font-family: noto-sans-cjk-jp, sans-serif;

}

.lanbtn2{
    display: none;
}


/*言語選擇*/

#x {
    margin: 10px auto 0px;
    width: 20px;
    z-index: 2;
    -webkit-appearance: none;
}


.overlay {
    display: none;
    width: 60%;
    height: 360vh;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: rgba(100, 70, 50, 1);
    z-index: 2;
}

.lanbtn {
    color: aliceblue;
    z-index: 3;
    font-size: 1.3em;
    display: flex;
    direction: column;
    margin: 50px auto;
    -webkit-appearance: none;

}

.en,
.jp,
.ch {
    padding: 20px 80px;
}


.en:hover,
.jp:hover,
.ch:hover {
    background-color: rgba(70, 50, 30, 0.3);
}



a {
    text-decoration: none;

}

/*言語選擇====================================================




/*
header--------------------------------------------------------
*/



button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 0.9rem;
}




#hamburger {
    cursor: pointer;
    width: 25px;
    height: 30px;
    margin: auto 20px;

}


#logo {

    width: 40px;
    padding: 10px 20px;
}



header {

    background-color: rgba(120, 80, 40, 1);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
}



/*
header=========================================================================
*/




/*
header--------------------------------------------------------
*/

.entrance {
    padding-top: 50px;
    display: block;
    width: 100%;
    margin-bottom: 30px;

}


h1 {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 30px 0px 60px 0px;
    color: rgba(253, 244, 224, 1);
    font-weight: 700;
    padding: 20px 0px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: rgba(120, 80, 30, 1);
}


.about1 {
    font-size: 1.4rem;
    margin: 30px 0px 60px 0px;
    color: rgba(253, 244, 224, 1);
    font-weight: 700;
    padding: 20px 0px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: rgb(44, 62, 100);
}


.about2 {
    font-size: 1.4rem;

    margin: 30px 0px 60px 0px;
    color: rgba(253, 244, 224, 1);
    font-weight: 700;
    padding: 20px 0px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: rgb(120, 160, 89);
}



spen {
    font-size: 1.6rem;

}


h2 {
    font-size: 1.2rem;
    margin: 20px 0px 40px 30px;
    color: rgba(120, 80, 30, 1);
    font-weight: 700;
    width: 30%
}


.content {
    margin-bottom: 10px;
    padding-bottom: 50px;
   
}


.lineup p {
    margin: 20px 0 50px 0px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    width: 60%;
    text-align: left
  
    color: rgba(90, 60, 30, 1);

}


.lineup {
    display: flex;
    justify-content: space-between
}



.line{
    content: "";
    background-color: rgba(90, 60, 30, 1);
    height: 0.1rem;
    width: 90%;
    margin: 30px auto;
    
}










footer {

    background-color: #99742B;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
}


footer img {
    width: 2rem;
    margin: 15px 10px;
}

footer p {
    color: #fdf4e0;
    font-size: 1rem;
}





@media screen and (min-width:480px){
    
        #logo{
        width: 35px
    }
    
    #hamburger{
        width: 30px
    }
    
    
    
    
h2 {
    font-size: 1.2rem;
    margin: 30px 0px 40px 30px;
    color: rgba(120, 80, 30, 1);
    font-weight: 700;
    width: 30%
}

    .lineup p{
        font-size: 1rem;
    line-height: 1.5rem;
    }


.content p {
    margin: 20px 0 50px 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 60%;
    text-align: left
  
    color: rgba(90, 60, 30, 1);

}



    
}




@media screen and (min-width:768px) {
    
    
    
 /*   ------------------------------------------*/
    
        #logo{
        width: 45px;
        margin-right: 200px
        
    }
    
    
    
    
    .lanbtn2{
        font-size: 1rem
    }
    
    
    .sushiheader{
        margin-bottom: 20px
    }
    
        #hamburgerbtn {
        display: none;
    }

   

    .lanbtn2 {
        display: block;
        padding: 10px;
        margin-right: 50px;
        color: #F3F3F3;
    }

    header {
        align-items: center;
    }
    
        .sushiheader:before {
    height: 0
}
    
 /*   ------------------------------------------*/


}




@media screen and (min-width:968px) {
    
     #logo {
        margin-right: 500px
    }
    
    
    
    .entrance{
        width: 50%;
    }
    
    .card{
        padding: 150px 70px 0px 70px;
        position: relative;
        height: 500px;
    }

    
    .lineupdiv{
        width: 40%;
        position: absolute;
        right: 50px;
        top: 250px;
    }
    
    
    
    .lineup p{
        margin-top: 0px;
        margin-bottom: 30px;
        font-size: 1.1rem;
    }
    
    h2{
        margin-top: 0
    }

    .line{
        display: none;
    }
    
    footer{
        margin-top: 200px
    }

}