/*
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
*/

body{
    background-color:#FDF4E0;
    box-sizing: border-box;
    font-family: noto-sans-cjk-jp, sans-serif;
    
}



/*言語選擇*/



.lanbtn2{
    display: none;
}


#x {
    margin: 10px auto 0px;
    width: 20px;
    z-index: 2;
    -webkit-appearance: none;
}


.overlay {
    display: none;
    width: 60%;
    height: 360vh;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: rgba(100, 70, 50, 1);
    z-index: 2;
}

.lanbtn {
    color: aliceblue;
    z-index: 3;
    font-size: 1.3em;
    display: flex;
    direction: column;
    margin: 50px auto;
    -webkit-appearance: none;

}

.en,
.jp,
.ch {
    padding: 20px 80px;
}


.en:hover,
.jp:hover,
.ch:hover {
    background-color: rgba(70, 50, 30, 0.3);
}



a {
    text-decoration: none;

}

/*言語選擇====================================================




/*
header--------------------------------------------------------
*/



button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 0.9rem;
}




#hamburger {
    cursor: pointer;
    width: 25px;
    height: 30px;
    margin: auto 20px;

}


#logo {

    width: 40px;
    padding: 10px 20px;
}



header {

    background-color: rgba(120, 80, 40, 1);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
}

/*
header==============================================================
*/




#imgtop{
    margin-top:50px;
    margin-bottom: 50px;
    width: 100%;
}




h1{
    font-size: 2rem;
    margin-left: 50px;
    color: rgba(120, 80, 30, 1);
    margin-bottom: -30px;
}

#toptext{
    margin: 0px auto -50px 30px
}


h2{
    font-size: 1.6rem;
    margin-left: 30px;
    color: rgba(120, 80, 30, 1);
    margin-bottom: -80px;
}





.line {
    content: "";
    background-color: rgba(90, 90, 90, 0.7);
    height: 0.1rem;
    width: 90%;
    margin: 50px auto;
}


.textp{
    margin: 100px 0 60px 30px;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 85%;
    color: rgba(90, 60, 30, 1)
}



.sushiwrap{
    margin-top:50px;
}







.sushibutton {
    width: 80%;
    padding: 0px 10px;
    font-size: 1rem;
    border: 2px solid rgba(90,90,90);
    border-radius: 10px;
    margin: auto;
    color: #fdf4e0;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}


#btn1:hover,
#btn2:hover,
#btn3:hover{
    background-color: #A88219;
    color: #fdf4e0;

}

#btn1{
    background-color: rgba(90,90,90);
}

#btn2{
    background-color: rgb(90, 130, 60);
}

#btn3{
    background-color: rgb(74, 92, 130);
}


.buttonsvg {
    width: 0.8rem;
    padding-left: 10px
    
}

.sushibuttontext {
    margin: 0 10px;
    padding: 10px 10px;
}



/*
選擇-------------------------------------------------
*/


/*:target{
    display: block;
}*/


#sushiwrap1{
    display: block;
    background-color: rgba(180,180,180,0.1);
    padding: 10px;
    margin-top: 100px;
    
}

#sushiwrap2{
    display: none;
    background-color: rgba(180,180,180,0.1);
    padding: 10px;
    margin-top: 100px;
}

#sushiwrap3{
    display: none;
    background-color: rgba(180,180,180,0.1);
    padding: 10px;
    margin-top: 100px;
}



.takeimg{
    display: block;
    width: 80%;
    margin: 50px auto;
    border: 2px solid rgba(120,80,30,1)
}







/*內容1---------------------------------------------------------------------*/


.populartitle{
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
}


.populartitle:before{
    position: absolute;
    right: 0;
    bottom: -50px;
    content: "";
    height: 0.2rem;
    width: 70%;
    background-color: rgba(120,80,30)
}

.populartitle:after{
    position: absolute;
    left: -20px;
    content: "";
    height: 3rem;
    width: 0.5rem;
    background-color: rgba(90,90,90)
}



.populartitle2{
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
}


.populartitle2:before{
    position: absolute;
    right: 0;
    bottom: -50px;
    content: "";
    height: 0.2rem;
    width: 70%;
    background-color: rgba(90,130,60)
}

.populartitle2:after{
    position: absolute;
    left: -20px;
    content: "";
    height: 3rem;
    width: 0.5rem;
    background-color: rgba(90,130,60)
}


.populartitle3{
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
}


.populartitle3:before{
    position: absolute;
    right: 0;
    bottom: -50px;
    content: "";
    height: 0.2rem;
    width: 70%;
    background-color: rgba(74,92,130)
}

.populartitle3:after{
    position: absolute;
    left: -20px;
    content: "";
    height: 3rem;
    width: 0.5rem;
    background-color: rgba(74,92,130)
}



/*內容1---------------------------------------------------------------------*/






footer {

    background-color: #99742B;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
}


footer img {
    width: 2rem;
    margin: 15px 10px;
}

footer p {
    color: #fdf4e0;
    font-size: 1rem;
}

/*============================================*/







/*============================================*/




@media screen and (min-width:480px){
    
        #logo{
        width: 35px
    }
    
    #hamburger{
        width: 30px
    }
    
    
    .bottombuttn{
        width: 150px;
    }
}





@media screen and (min-width:768px) {
    
    
    
 /*   ------------------------------------------*/
    
        #logo{
        width: 45px;
        margin-right: 200px
        
    }
    
    
    
    
    .lanbtn2{
        font-size: 1rem
    }
    
    
    .sushiheader{
        margin-bottom: 20px
    }
    
        #hamburgerbtn {
        display: none;
    }

   

    .lanbtn2 {
        display: block;
        padding: 10px;
        margin-right: 50px;
        color: #F3F3F3;
    }

    header {
        align-items: center;
    }
    
        .sushiheader:before {
    height: 0
}
    
 /*   ------------------------------------------*/
    
    .sushiwrap{
        width: 30%;
    }
    

    
    .sushibuttontext {
    margin: 0 10px;
    padding: 10px 0px;
}
    
    
    .bottondiv{
    display: flex;
      justify-content: center
}


    
    
    
    /*   anime------------------------------------------*/
    
    .populartitle:before{

    width: 100%;

-webkit-animation-name: popup;
    animation-name: popup;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
        
}
    
    .populartitle2:before{
   
    width: 100%;
    -webkit-animation-name: popup;
    animation-name: popup;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
    .populartitle3:before{
   
    width: 100%;
    -webkit-animation-name: popup;
    animation-name: popup;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
    
    
    @keyframes popup {

    0% {
        opacity: 0;
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

    /*   anime------------------------------------------*/
    
    
    .flexdiv{
        padding-top: ６0px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 75%;
        margin:auto;            
    }
    
    
    .flexdiv div{
        width: 70%
    }
    
    #imgtop{
        width: 40%;
        margin-right: 50px
    }
    
    .takeimg{
        width: 25%;

        
    }
    

    
}




@media screen and (min-width:968px) {
    
        #logo {
        margin-right: 500px
    }
    
}




